<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-12">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("TheoryExamPractice")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("ChooseDrivingClass")}}
                </span>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">         
            <div class="m-portlet__body">
                <div class="container">
                    <div class="row">                 
                        <h4 class="m-portlet__head-text">
                            Welcome to Drima theory exam practice. Start by choosing driving class.
                        </h4>
                    </div>
    
                    <hr class="ng-tns-c19-1">
                                        
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-md-auto" *ngFor="let license of licenseClasses">
                            <div class="card">
                                <img src={{license.pictureUrl}} class="card-image">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-3 text-uppercase"><h3>{{license.title}}</h3></div>
                                        <div class="col-9"><h5>{{license.description}}</h5></div>                 
                                    </div>
                                    <button type="button"  class="btn btn-primary btn-block" 
                                    (click)=getLicenseTasks(license.title)
                                    routerLink="/app/main/studentsView/theoryPractice/licenseClassTasksOverview">  
                                    Open                 
                                    </button>                                                             
                                </div>           
                            </div>              
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                   
                </div>
                 
                                          
            </div>
        </div>

      
    </div>
</div>