<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-12">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("TheoryExamPractice")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("ChooseDrivingClass")}}
                </span>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
            <h3 class="m-portlet__head-text">
                Welcome to Drima theory exam pratice. Start by choosing driving class.
            </h3>
                

            </div>
        </div>

      
    </div>
</div>