<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-12">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("StudentInvoices")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("StudentInvoicesInfo")}}
                </span>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                
                Empty

            </div>
        </div>

      
    </div>
</div>