<div [@routerTransition]>
    <!-- <div class="card">
        <div class="card-body">
            <tabset #staticTabs>
                <tab heading="1. Required License">
                    <div class="container">
                    <div class="row justify-content-center">


                        <div class="col-4" *ngFor="let class of licenseClasses;  let i = index">
                            <div class="card">
                                <div class="card-body">
                                    <span class="m-pricing-table-1__icon m--font-brand">
                                        <i class="fa flaticon-car"></i>
                                    </span>
                                    <h5>Class X</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </tab>
                <tab heading="2. License Owned">Static content 1</tab>
                <tab heading="3. Office">Static content 2</tab>
                <tab heading="4. Courses">Static content 3</tab>
                <tab heading="5. Price Packages">Static content 3</tab>
                <tab heading="6. Personal Data">Static content 3</tab>
            </tabset>

        </div>

    </div> -->
</div>