
<div class="row justify-content-center">
    <p-toast [style]="{marginTop: '80px'}" styleClass="custom-toast" key="toast" position="bottom-right"></p-toast>
    <div class="col col-sm-2"></div>  
    <div class="col-sm-8">
        <p-messages  severity="error" [value]="abortedMessage" [closable]="false"></p-messages>
        <h3 class="m-portlet__head-text">
            Welcome to the Drima eLesson!
        </h3>

        <div class="m--space-10"></div>

        <span>You have to do all lesson parts in order. If you want, you can go back to watch videos again if you want to check your answers. 
            Duration of this eLesson is at least 45 minutes and has {{quizParts}} Parts. These parts consists of videos, tasks and questionnaires. If you 
            cancel the eLesson, it has to be done again from the start. Short internet connection breaks won't cancel the lesson.
        </span>

        <p-messages severity="error" [value]="closedMessage" [closable]="false">trs</p-messages>      
    
        <div class="m--space-10"></div>

        <span> You can do the eLesson only during the time the control room is open. A lesson can be started one (1) hour before the control room is closed.</span>
        
        <div class="m--space-10"></div>

        
        <h6> Drima control room is open:</h6>
        <div *ngIf="upcomingOpeningHours"></div>
        <ul>

            <li *ngFor="let temp of upcomingOpeningHours">
                <div *ngIf="temp.closed; then thenBlock else elseBlock"></div>                                  
                <ng-template #thenBlock>
                    {{temp.Opening}} - {{temp.Closing}}  
                </ng-template>
                <ng-template #elseBlock>
                    Closed
                </ng-template>
            </li>   
        </ul>
        
        <div *ngIf="!closed">
            
            <span>   
                <p-messages severity="info" [value]="requirementMessage" [closable]="false">               
                </p-messages>                                               
            </span>   
                 
            <div class="ui-inputgroup">
                <button pButton type="button" label="Phone:" disabled="true"></button>
                <span class="ui-inputgroup-addon">+</span>
                <input type="text" pInputText id="studentPhoneNumberParsed" [(ngModel)]="studentPhoneNumberParsed"><br>         
                <button pButton type="button" label="{{videoTestButtonName}}" (click)="toggleVideoTestBlock()" ></button>
            </div> 
            <br>

            <div *ngIf="showVideoTest">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                        [src]="videoUrl | safeUrl"
                        frameborder='0'
                        allowfullscreen>
                    </iframe>      
                </div> 
            </div>
            
            <div>
                <span>
                    <p-checkbox name="phoneNumber" binary="true" [(ngModel)]="checked">             
                    </p-checkbox> 
                    I have checked the phone number, it has the WhatsApp installed and running and I have tested the video.                                                
                </span>
            </div>                            
        </div>

       
        <div class="m--space-10"></div>

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
                <button pButton type="button"
                    label="Start eLesson" 
                    [disabled]="closed == true || closed == false && checked == false"
                    (click)="disableAborted()"
                    class="ui-button-raised">
                </button>
            </div>
            <div class="col-sm-3">
                <button pButton type="button"           
                    label="Cancel"             
                    class="ui-button-raised"
                    routerLink="/app/main/studentsView/theoryCourse">                   
                </button>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <div class="col col-sm-2"></div>
</div>